<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
<h1>Contact Management Dashboard</h1>


<p>View all submitted contacts from the MySQL Database</p>


<table>
    <thead>

    <tr>

        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>

    </tr>

    </thead>

    <tbody id="contactTable">

    </tbody>

</table>



<script src="/js/contacts.js"></script>
</body>

</html>